@import url('components/navBar.css');
@import url('components/contentContainer.css');
@import url('components/logosContainer.css');
@import url('components/backToTop.css');
@import url('components/cards.css');
@import url('components/contactForm.css');


body {
  background-color: #061B2D;
  font-family: "Baumans", system-ui;
  font-weight: 400;
  font-style: normal;
}


.main-container {
  margin-top: 4rem;
  width: 70%;
  height: calc(100dvh - 240px);
  background-image: url('../images/landing-background.png');
  background-color: rgba(6, 27, 45, 0.1); /* Semi-transparent white overlay */
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 100px rgba(231, 76, 60, 0.6); /* Glowing red effect */
  transition: box-shadow 0.5s ease;
  border-radius: 30px;
}
.main-text-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
}


.skills-main-container{
  font-family: "Baumans", system-ui;
  width: 70%;
  height: 100dvh;
  /* font-size: 5rem; */
  font-weight: bold;
  background: linear-gradient(to right, #bddcfc, #ee3910);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills-main-container h2{
  font-size: 4rem;
}
.skills-main-container h5{
  font-size: 2rem;
}
.skills-main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.projects-main-container{
  width: 70%;
  height: 100dvh;
}
.projects-main-container h2{
  background: linear-gradient(to right, #bddcfc, #ee3910);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-family: "Baumans", system-ui;
}
.projects-footer{
  font-family: "Baumans", system-ui;
}
.projects-footer a{
  border: 2px solid white;
  padding: 5px;
}
.projects-footer a:hover{
  color:#ee3910
}

.contact-main-container{
  font-family: "Baumans", system-ui;
  color: white;
  width: 70%;
  height: 100dvh;

}
.contact-main-container h2{
  background: linear-gradient(to right, #bddcfc, #ee3910);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-family: "Baumans", system-ui;
}

.contact-main-container h4{
  background: linear-gradient(to right, #bddcfc, #ee3910);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-family: "Baumans", system-ui;
}

.contact-content-container{
  height: 70%;
}

.contact-content-text{
  height: 100%;
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  width: 45%;
}

.title{
  background: linear-gradient(to right, #bddcfc, #ee3910);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-self: flex-start;
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-social-media-icons{
  width: 30%;
  font-size: 2rem;
}

.contact-social-media-icons a:hover {
  color: #ee3910;
}
