.project-card{
  color: white;
  width: 350px;
  height: 650px;
  height: auto;
  box-shadow: 0 0 100px rgba(231, 76, 60, 1); /* Glowing red effect */
  transition: box-shadow 0.5s ease;
  border-radius: 30px;

  /* background-color: #7e98b7; */
}

.project-card img{
  border-radius: 30px;
  padding: 0;
  width: 100%;
  height: 70%;
  margin-bottom: 5px;
  padding: 0;
}
.project-card h4{
  font-size: 2rem;

}

.card-text{
  padding: 20px;
  text-align: center;
}
