.logos-container{
  font-family: "Baumans", system-ui;
  width: 40%;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-shadow: 0 0 100px rgba(231, 76, 60, 1); /* Glowing red effect */
  transition: box-shadow 0.5s ease;
  border-radius: 30px;
}

.logos-container:hover {
  box-shadow: 0 0 300px rgba(231, 76, 60, 1);
}
.logos-container img{
  align-self: center;
  justify-self: center;
  height: 50px;
  width: 60px;
}

.logos-mobile{
  display: hidden;
}


@media (max-width: 640px) {
  .logos-container{
    width: 100dvw;
    height: 50dvh;
    padding: 0;
    border: none;
    border-radius: 0;
    display: none;
  }

  .logos-mobile{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    width: 220px;
    height: 220px;
  }

}
